ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgba(77,77,77,0.75);
    text-align:center;
}
li {
    display:inline;
}
li a {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color:#267080;
}
.active {
    background-color:#267080;
}
body {
    background-image: url("images/clouds-dennis.jpg");
    background-repeat:no-repeat;
    background-size:100%;
}
h1 {
    font-family: 'Arima Madurai', cursive;
    color:#4d4d4d;
    opacity:1;
    text-align:center;
    letter-spacing:1px;
    font-size:50px;
    background-color:rgba(217,232,250,0.5);
    box-shadow: 7px 7px 5px #637282;
    width:500px;
    padding:15px;
    padding-top:5px;
    padding-bottom:5px;
    margin: 30px auto;
    margin-left: auto;
    margin-right: auto;
}
h2 {
    font-family: 'Arima Madurai', cursive;
    color:#4d4d4d;
    text-align:center;
    width:500px;
    background-color:rgba(217,232,250,0.5);
    box-shadow: 7px 7px 5px #637282;
    padding:15px;
    padding-top:5px;
    padding-bottom:5px;
    margin: 30px auto;
    margin-left: auto;
    margin-right: auto;
}

.description {
    font-family: 'Montserrat', sans-serif;
    color:black;
    background-color:rgba(217,232,250,0.75);
    box-shadow: 7px 7px 5px #637282;
    opacity:.75;
    width:80%;
    padding:15px;
    margin: 30px auto;
    margin-left: auto;
    margin-right: auto;
}

#description {
    font-family: 'Montserrat', sans-serif;
    color:black;
    background-color:rgba(217,232,250,0.75);
    box-shadow: 7px 7px 5px #637282;
    opacity:.75;
    width:80%;
    padding:15px;
    margin: 30px auto;
    margin-left: auto;
    margin-right: auto;
}

#descriptionTable {
    font-family: 'Montserrat', sans-serif;
    color:black;
    background-color:rgba(217,232,250,0.75);
    box-shadow: 7px 7px 5px #637282;
    opacity:.75;
    width:72%;
    padding:10px;
    margin: 70px auto;
    margin-left: auto;
    margin-right: auto;
}

#descriptionTable2 {
    font-family: 'Montserrat', sans-serif;
    color:black;
    background-color:rgba(217,232,250,0.75);
    box-shadow: 7px 7px 5px #637282;
    opacity:.75;
    width:76%;
    padding:10px;
    margin: 70px auto;
    margin-left: auto;
    margin-right: auto;
}

#descriptionTable3 {
    font-family: 'Montserrat', sans-serif;
    color:black;
    background-color:rgba(217,232,250,0.75);
    box-shadow: 7px 7px 5px #637282;
    opacity:.75;
    width:48%;
    padding:10px;
    margin: 70px auto;
    margin-left: auto;
    margin-right: auto;
}

#descriptionTable3 {
    font-family: 'Montserrat', sans-serif;
    color:black;
    background-color:rgba(217,232,250,0.75);
    box-shadow: 7px 7px 5px #637282;
    opacity:.75;
    width:24%;
    padding:10px;
    margin: 70px auto;
    margin-left: auto;
    margin-right: auto;
}


table {
    text-align:center;
    width:100%;
    display:inline;
}

table a {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    color: #4d4d4d;
    text-align: center;
    padding: 5px;
    text-decoration: none;
}

table a:hover {
background-color:#267080;
}

th, td {
    border:1px solid #4d4d4d;
}

.flex-container {
  display:flex;
  flex-direction:row;
  flex-wrap:nowrap;
  justify-content:space-between;
  align-items: baseline;
}
#english {
    font-family: 'Montserrat', sans-serif;
    color:black;
    background-color:rgba(217,232,250,0.75);
    box-shadow: 7px 7px 5px #637282;
    opacity:.75;
    width:45%;
    padding:15px;
    margin: 30px auto;
}
#japanese {
    font-family: 'Montserrat', sans-serif;
    color:black;
    background-color:rgba(217,232,250,0.75);
    box-shadow: 7px 7px 5px #637282;
    opacity:.75;
    width:45%;
    padding:15px; 
    margin: 30px auto;
}
#links {
    font-family: 'Montserrat', sans-serif;
    color:black;
    background-color:rgba(217,232,250,0.75);
    box-shadow: 7px 7px 5px #637282;
    opacity:.75;
    width:80%;
    padding:15px;
    margin: 30px auto; 
}
h3 {
    font-family: 'Arima Madurai', cursive;
    color:#4d4d4d;
    opacity:1;
    text-align:center;
}
.onom {
    color:magenta;
}
.cultural {
    color:green;
}
.emp {
    font-weight:bold;
}