body {
    background-image: url("images/clouds-dennis.jpg");
    background-repeat:no-repeat;
    background-size:100%;
}
h1 {
    font-family: 'Arima Madurai', cursive;
    color:#4d4d4d;
    opacity:1;
    text-align:center;
    letter-spacing:1px;
    font-size:50px;
    background-color:rgba(217,232,250,0.5);
    box-shadow: 7px 7px 5px #637282;
    width:500px;
    padding:15px;
    margin: 30px auto;
    margin-left: auto;
    margin-right: auto;
    margin-top:10px;
    margin-bottom:10px;
}
div {
    font-family: 'Montserrat', sans-serif;
    color:black;
    opacity:1;
    background-color:rgba(217,232,250,0.75);
    box-shadow: 7px 7px 5px #637282;
    opacity:.75;
    padding:15px;
    margin: 30px auto;
    margin-left: auto;
    margin-right: auto;
}
