.onom {
    color:magenta;
}
.cultural {
    color:green;
}
.emp {
    font-weight:bold;
}
h2 {
    font-family: 'Arima Madurai', cursive;
    color:#4d4d4d;
    text-align:center;
}
body {
    font-family: 'Montserrat', sans-serif;
    color:black;
}